
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #19A1AD;
}

p ,span{
    font-family: 'Kumbh Sans', sans-serif;

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.top {
    position: relative;
    top: -50%;
    left: -10%;
}
.buttom {
    position: relative;
    bottom: -50%;
    left: 12%;
}


.content {
    width: 350px;
    height: 375px;
    background-color: white;
    z-index: 999;
    position: absolute;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.pattern {
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
    width: 100%;
    height: 140px;
}

.container-victor {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -50px;
}

.container-victor img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 5px solid white ;
    width: 100px;
    height: 100px;
}

.container-victor p {


    font-weight: 700;
    padding: 15px 0 10px 0;
    color: #242632;
    font-size: 1.2rem;
}

.container-victor span {
    color: #88898E;
}

hr {
    margin-top: 35px;
    opacity: .2;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25%;
    margin: 0 45px;
}

.follow , .like , .photo{
    text-align: center;

}

.follow p , .like p , .photo p{
    font-weight: 900;
    color: #242632;
    font-size: 1.2rem;
    font-family: 'Kumbh Sans', sans-serif;
    text-transform: uppercase;
}

.follow span , .like span , .photo span {
    color: #88898E;
    text-transform: capitalize;
    font-size: 12px;
    letter-spacing: 2px;
}